-e git://github.com/samarudge/twdlt.git#egg=twdlt
httplib2==0.7.7
oauth2==1.5.211
-e git://github.com/bear/python-twitter.git@a3bdd9e53621c699b9db1c2db8fd70557dcaa70a#egg=python_twitter-dev
simplejson==3.1.0