-e git://github.com/samarudge/twdlt.git#egg=twdlt
httplib2==0.7.7
oauth2==1.5.211
simplejson==3.1.0
-e git+git@github.com:samarudge/twdlt.git@44017ef99c225d77387e18165565050073174c63#egg=twdlt-dev
wsgiref==0.1.2